.genaral {
    border: 1px black solid;
    width: 50%;
    height: 600px;
    margin: auto;
}

@media screen and (min-width: 900px) {
    .section {
        display: inline-block;
        border: 1px black solid;
        width: 99.8%;
        height: 430px;
        background-color: bisque;
    }
    .section .left {
        display: inline-block;
        border: 1px black solid;
        width: 27%;
        height: 430px;
    }
    .left .top {
        border: 1px black solid;
        width: 100%;
        height: 180px;
    }
    .left .buttom {
        border: 1px black solid;
        width: 100%;
        height: 246px;
    }
    .section .right {
        display: inline-block;
        background-color: red;
        width: 72%;
        height: 430px;
    }
    .pox_buttom {
        display: inline-block;
        border: 1px blue solid;
        width: 99.8%;
        height: 161px;
    }
    .pox_buttom .buttom_left {
        display: inline-block;
        background-color: blue;
        width: 27%;
        height: 100%;
    }
    .buttom_right {
        background-color: blanchedalmond;
        display: inline-block;
        border: 1px gray solid;
        width: 72%;
        height: 100%;
    }
    .btn_right {
        border: 1px black solid;
        float: right;
        width: 12%;
        height: 99%;
    }
    .btn_top {
        display: block;
        border: 1px black solid;
        width: 99%;
        height: 49%;
    }
    .btn_btn {
        display: block;
        border: 1px black solid;
        background-color: chartreuse;
        width: 100%;
        height: 49%;
    }
}

@media screen and (min-width: 600px) {
    .section {
        display: inline-block;
        border: 1px black solid;
        width: 99.8%;
        height: 430px;
        background-color: bisque;
    }
    .section .left {
        display: inline-block;
        border: 1px black solid;
        width: 27%;
        height: 430px;
    }
    .left .top {
        border: 1px black solid;
        width: 100%;
        height: 180px;
    }
    .left .buttom {
        border: 1px black solid;
        width: 100%;
        height: 246px;
    }
    .section .right {
        display: inline-block;
        background-color: red;
        width: 70%;
        height: 430px;
    }
    .pox_buttom {
        display: inline-block;
        border: 1px blue solid;
        width: 99.8%;
        height: 161px;
    }
    .pox_buttom .buttom_left {
        display: inline-block;
        background-color: blue;
        width: 27%;
        height: 100%;
    }
    .buttom_right {
        background-color: blanchedalmond;
        display: inline-block;
        border: 1px gray solid;
        width: 70%;
        height: 100%;
    }
    .btn_right {
        border: 1px black solid;
        float: right;
        width: 12%;
        height: 99%;
    }
    .btn_top {
        display: block;
        border: 1px black solid;
        width: 99%;
        height: 49%;
    }
    .btn_btn {
        display: block;
        border: 1px black solid;
        background-color: chartreuse;
        width: 100%;
        height: 49%;
    }
}

@media screen and (min-width: 300px) {
    .section {
        display: inline-block;
        border: 1px black solid;
        width: 99.8%;
        height: 430px;
        background-color: bisque;
    }
    .section .left {
        display: inline-block;
        border: 1px black solid;
        width: 27%;
        height: 430px;
    }
    .left .top {
        border: 1px black solid;
        width: 100%;
        height: 180px;
    }
    .left .buttom {
        border: 1px black solid;
        width: 100%;
        height: 246px;
    }
    .section .right {
        display: inline-block;
        background-color: red;
        width: 70%;
        height: 430px;
    }
    .pox_buttom {
        display: inline-block;
        border: 1px blue solid;
        width: 99.8%;
        height: 161px;
    }
    .pox_buttom .buttom_left {
        display: inline-block;
        background-color: blue;
        width: 27%;
        height: 100%;
    }
    .buttom_right {
        background-color: blanchedalmond;
        display: inline-block;
        border: 1px gray solid;
        width: 70%;
        height: 100%;
    }
    .btn_right {
        border: 1px black solid;
        float: right;
        width: 12%;
        height: 99%;
    }
    .btn_top {
        display: block;
        border: 1px black solid;
        width: 99%;
        height: 49%;
    }
    .btn_btn {
        display: block;
        border: 1px black solid;
        background-color: chartreuse;
        width: 100%;
        height: 49%;
    }
}