.container {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    border: 1px red solid;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bar {
    justify-items: center;
}